*{

    margin:0;

    padding:0;

    box-sizing:border-box;

}

a{

    text-decoration:none;

}

img{

    max-width:100%;

}

/*==========================
PAGE HEADER
==========================*/

.page-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:25px;

}

.page-header-title{

    font-size:2rem;

    font-weight:600;

    margin:0;

}

.page-header-description{

    color:var(--text-light);

    margin-top:8px;

}

